[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
numpy = "*"
pandas = "*"
jupyter = "*"
ta-lib = "*"
matplotlib = "*"
flask = "*"
seaborn = "*"
plotly = "*"
peakutils = "*"
ccxt = "*"
asyncio = "*"
redis = "*"
tabulate = "*"
scipy = "*"
pendulum = "*"
colored = "*"

[requires]
python_version = "3.7"
